.app-board{
    background-color: $board-blue;
    display: flex;
    flex-direction: column;
    
    @media (min-width: 850px) {
        padding: 0 5vw 0 0;
        margin-top: 15px;
    }
    header,footer {
        display: none;
        @media (min-width: 850px) {
            display: flex;
        }
    }
    
    .game-board{
        .board-cells {
            background-color: burlywood;
        }
        
        .top-row{
            .board-cells {
                @media (min-width: 850px) {
                    border-top: 20px solid black;
                    border-left: 20px solid black;
                    border-right: 10px solid black;
                }
                border-right: 10px solid black;
                border-left: 10px solid black;
            }
        }
        
        .bot-row {
            .game-cell{
                flex-direction: column-reverse;
            }
            flex-direction: row-reverse;
            align-items: flex-end;
            .board-cells {
                @media (min-width: 850px) {
                    border-bottom: 20px solid black;
                    border-left: 20px solid black;
                    border-right: 20px solid black;
                }
                border-left: 10px solid black;
                border-right: 10px solid black;
                flex-direction: row-reverse;
                align-items: flex-end;
            }
        }
        
        .win{
            position: absolute;
            top: 48vh;
            left: 20vw;
            color: white;
            background-color: black;
            font-size: 2.3rem;
        }
    }
    footer{
      width: 100%;
      height: 70px;
    }
}




.exit {
}

.game-cell {
    background-color: transparent;
    flex-wrap: wrap;
    width: 6.4vw;
    height: calc(50vh);
    @media (min-width: 850px) {
        width: 6vw;
        height: 34vh;
    }
    transition: .3s;
    &.middle{
        background-color: darkgoldenrod;
        width: 3vw;
    }
    &.exit{
        background-color: transparent;
        opacity: 0.7;
        width: calc(12vw - 29px);
        @media (min-width: 850px) {
            width: 5vw;
        }
        height: calc(34vh + 20px);
        .soldier {
            width: 2vw!important;
            height: 2vw!important;
        }
    }
    
    .triangle-up {
        position: absolute;
        border-left: 3vw solid transparent;
        border-right: 3vw solid transparent;
        border-bottom: 32vh solid black;
        @media (min-width: 850px) {
            border-bottom: 26vh solid black;
        }
    }
    .exit-cell {
        position: absolute;
        @media (min-width: 850px) {
            width: 5vw;
            height: calc(34vh + 20px);
        }
        width: calc(12vw - 29px);
        height: 50vh;
        transition: 0.3s;
        &:hover, &.triangle-green {
            background-color: darken($board-blue, 50%);
        }
        
    }
    .triangle-down {
        position: absolute;
        border-left: 3vw solid transparent;
        border-right: 3vw solid transparent;
        border-top: 32vh solid black;
        @media (min-width: 850px) {
            border-left: 3vw solid transparent;
            border-right: 3vw solid transparent;
            border-top: 26vh solid black;
        }
    }
    .triangle-black {
        border-bottom-color: rgb(30,30,30);
        border-top-color: rgb(30,30,30);
    }


    .triangle-red {
        border-bottom-color: red;
        border-top-color: red;
    }
    .triangle-green {
        border-bottom-color: teal;
        border-top-color: teal;
    }
}