.app-board{
    background-color: darken(rgba(228, 191, 142, 0.7),10%);
    // opacity: .7;
    display: flex;
    flex-direction: column;
    
    @media (min-width: 850px) {
        padding: 0 5vw 0 0;
        margin-top: 80px;
    }
    
    header,footer {
        display: none;
        @media (min-width: 850px) {
            display: flex;
        }
    }
    
    .game-board{
        .board-cells {
            background-color: burlywood;
        }
        &.flipped-board {
            transform: rotateX(180deg);
            .win{
                transform: rotateX(180deg);
                top: 35vh;
            }
            .action-btns {
                transform: rotateX(180deg);
                top: calc(57vh - 60px);
                @media (min-width: 850px) {
                    top: calc(39vh - 5vw);
                }
            }
            .dices-section{
                transform: rotateX(180deg);
                top: calc(57vh - 5vw - 15px);
                @media (min-width: 850px) {
                    top: calc(39vh - 5vw);
                }
                
            }
        }
        .top-row{
            .board-cells {
                @media (min-width: 850px) {
                    border-top: 20px solid black;
                    border-left: 20px solid black;
                    border-right: 10px solid black;
                }
                border-right: 10px solid black;
                border-left: 10px solid black;
            }
        }
        
        .bot-row {
            .game-cell{
                flex-direction: column-reverse;
            }
            flex-direction: row-reverse;
            align-items: flex-end;
            .board-cells {
                @media (min-width: 850px) {
                    border-bottom: 20px solid black;
                    border-left: 20px solid black;
                    border-right: 10px solid black;
                }
                border-left: 10px solid black;
                border-right: 10px solid black;
                flex-direction: row-reverse;
                align-items: flex-end;
            }
        }
        
        .win{
            position: absolute;
            top: 45vh;
            left: 20vw;
            color: white;
            background-color: black;
            font-size: 2.3rem;
        }
        .dices-section {
            position: absolute;
            top: calc(60vh - 5vw - 15px);
            @media (min-width: 850px) {
                top: calc(46vh - 5vw);
            }
            left: 20vw;
        }
        .action-btns {
            position: absolute;
            display: flex;
            justify-content: center;
            top: calc(60vh - 60px);
            font-size: 2rem;
            z-index: 2;
            left: calc(50vw + 3px);
            width: 39vw;
            @media (min-width: 850px) {
                left: calc(45vw + 3px);
                width: 36vw;
                top: calc(46vh - 5vw);
                font-size: 1.5rem;
            }
            button {
                padding: 15px;
                background-color: rgb(31, 185, 31);
                font-size: 1.5rem;
                border: 1px solid rgb(84, 245, 84);
                border-radius: 5px;
                @media (min-width: 850px) {
                    height: 6vh;
                    width: 10vw;
                    font-size: 2.5rem;
        
                }
            }    
        }
    }

    footer{
      width: 100%;
      height: 70px;
    }
}

.game-cell {
    background-color: transparent;
    flex-wrap: wrap;
    width: 6.4vw;
    height: calc(50vh);
    @media (min-width: 850px) {
        width: 6vw;
        height: 34vh;
    }
    transition: .3s;
    &.middle{
        background-color: darkgoldenrod;
        width: 3vw;
    }
    &.exit{
        background-color: transparent;
        opacity: 0.7;
        width: calc(12vw - 29px);
        @media (min-width: 850px) {
            width: 5vw;
        }
        height: calc(34vh + 20px);
        .soldier {
            width: 2vw!important;
            height: 2vw!important;
        }
    }
    
    .triangle-up {
        position: absolute;
        border-left: 3vw solid transparent;
        border-right: 3vw solid transparent;
        border-bottom: 32vh solid black;
        @media (min-width: 850px) {
            border-bottom: 26vh solid black;
        }
    }

    .exit-cell {
        position: absolute;
        @media (min-width: 850px) {
            width: 5vw;
            height: calc(34vh + 20px);
        }
        width: calc(12vw - 29px);
        height: 50vh;
        transition: 0.3s;
        &.triangle-green {
            background-color: darken(burlywood, 30%);
        }
        
    }

    .triangle-down {
        position: absolute;
        border-left: 3vw solid transparent;
        border-right: 3vw solid transparent;
        border-top: 32vh solid black;
        @media (min-width: 850px) {
            border-left: 3vw solid transparent;
            border-right: 3vw solid transparent;
            border-top: 26vh solid black;
        }
    }

    .triangle-black {
        border-bottom-color: rgb(30,30,30);
        border-top-color: rgb(30,30,30);
    }

    .triangle-red {
        border-bottom-color: red;
        border-top-color: red;
    }

    .triangle-green {
        border-bottom-color: rgb(60, 206, 47);
        border-top-color: rgb(60, 206, 47);
    }
}