@import "./reset.scss";
@import "./base.scss";
@import '_helpers.scss';
@import '_fonts.scss';
@import '_game-board.scss';
@import '_animate.scss';
@import '_scrollbar.scss';
@import '_custom-inputs.scss';



html {
    height: 100vh;
}
body{
    @media (min-width: 850px) {
        background: url('/img/bg/backgammon1.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    height: 100%;
}
