@import "./reset";
@import "./base";
@import '_helpers';
@import '_fonts';
@import '_game-board';
@import 'transitions';
@import '_animate';
@import '_scrollbar';
@import '_custom-inputs';



html {
    height: 100vh;
}
body{
    @media (min-width: 850px) {
        background: url('../imgs/backgammon1.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
}
